<footer class="footer">
    <div class="container">
        <div id="ftr-wrap">
            <div class="ftr-links">
                <ul>
                    <li><a href="#">Terminos</a></li>
                    <li><a href="#">Desarrollador</a></li>
                    <li><a href="#">Información</a></li>
                </ul>
            </div>
            <div class="copyright-amazon">
                <p class="">Entidad</p>
            </div>
            <div>
                <p class="">Mas Información</p>
            </div>
        </div>
    </div>
</footer>
